version: 2
updates:
  # For API code in app/
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: daily
    commit-message:
      prefix: ":seedling:"
    open-pull-requests-limit: 10
    groups:
      go-openapi:
        patterns:
          - "github.com/go-openapi/*"
  # For the website code in scorecards-site.
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: daily
      time: '00:00'
    open-pull-requests-limit: 10
    commit-message:
      prefix: fix
      prefix-development: chore
      include: scope
  # github-actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: ":seedling:"
    groups:
      github-actions:
        patterns:
          - "*"
  # Dockerfiles
  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: ":seedling:"
    open-pull-requests-limit: 10
