// // Sans Font
@import '../mixins';
$font-sans: 'Public Sans', sans-serif;
$font-sans-light: 'Public Sans', sans-serif;
$font-sans-x-light: 'Lexend', sans-serif;
$font-sans-xx-light: 'Lexend', sans-serif;
$font-sans-regular: 'Public Sans', sans-serif;
$font-sans-header-standard: 'Public Sans', sans-serif;
$font-sans-header-oblique: 'Public Sans', sans-serif;

// Serif font
$font-serif: 'Times';
