.button {
  @extend %button;

  &--transparent-border {
    border: solid 2px black;
    @apply rounded-full;
    @apply bg-white;
  }
}

.markdown-text {
  p a {
    // apply text-16;
    // apply leading-22;
    // apply text-gray-medium;
    font-weight: 500;
    // apply flex items-center justify-start;
    padding-right: 40px;
    position: relative;
    transition: all 0.4s ease-in-out;
    animation-delay: 0.1s;
    transform: translateX(0px);
  }
}

.cta {
  width: 188px;
  height: 58px;
  padding: 18px 16px;
  color: white;
  background: #FF4D00;
  border-radius: 8px;
  font-family: Public Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 91%;
  transition: all 0.4s ease-in-out;

  &:hover{
    background-color: #B64616;
    transition: all 0.4s ease-in-out;
  }
}

.cta-icon {
  width: 188px;
  height: 58px;
  padding: 16px 12px;
  color: #FF4D00;
  border: 1px solid #FF4D00;
  border-radius: 8px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  transition: all 0.4s ease-in-out;
  margin: 15px 0;
  display: inline-block;
  text-align: center;

  &:hover{
    background-color: #B64616;
    transition: all 0.4s ease-in-out;
  }
}

.inline--button {
  &-grey {
    @apply text-gray-dark;
    transition: all 0.2s ease-in-out;
    animation-delay: 0.1s;
    & svg {
      transition: all 0.2s ease-in-out;
      animation-delay: 0.1s;
      transform: translateX(0px);
    }
    &:hover {
      color: $c-purple;
      & svg {
        transform: translateX(5px);
        transition: all 0.2s ease-in-out;
        animation-delay: 0.1s;
        path {
          stroke: $c-purple;
        }
      }
    }
  }

  &-white {
    color: white;
    transition: all 0.2s ease-in-out;
    animation-delay: 0.1s;
    & svg {
      transition: all 0.2s ease-in-out;
      animation-delay: 0.1s;
      transform: translateX(0px);
    }
    &:hover {
      color: $c-purple;
      & svg {
        transform: translateX(5px);
        transition: all 0.2s ease-in-out;
        animation-delay: 0.1s;
        path {
          stroke: $c-purple;
        }
      }
    }
  }
}
