@use "sass:color";

.color,
%color {
  &--black {
    color: color('black');
  }

  &--white {
    color: color('white');
  }

  &--dark-blue {
    color: color('dark-blue');
  }

  &--blue {
    color: color('blue');
  }

  &--purple {
    color: color('purple');
  }

  &--yellow {
    color: color('yellow');
  }

  &--egg-white {
    color: color('egg-white');
  }

  &--red {
    color: color('red');
  }

  &--green {
    color: color('green');
  }
}

.bg,
%bg {
  &--black {
    background-color: color(primary);
  }

  &--white {
    background-color: color('white');
  }

  &--transparent {
    background-color: transparent;
  }

  &--warning {
    background-color: color.adjust($c-yellow, $lightness: 5%);
  }

  &--alert {
    background-color: color.adjust($c-red, $lightness: 8%);
  }
}
